body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  color: #00ff99;
  font-family: Monospace;
  font-size: 3em;
  
}

#clock {
  border: 2px solid #00ff99;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ff99;
}
